<!-- registration/password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Your Password</title>
</head>
<body>
    <h2>Enter a New Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}<br>
        {{ form.new_password1 }}<br><br>
        {{ form.new_password2.label_tag }}<br>
        {{ form.new_password2 }}<br><br>
        <button type="submit">Reset Password</button>
    </form>
</body>
</html>
